@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
/* font-family: 'Barlow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
/* font-family: 'Fraunces', serif; */
:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%); /* (graphic design text) */
    --Dark-blue: hsl(198, 62%, 26%); /* (photography text) */
    --Dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer) */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    /*  */
    --Light-cyan: hsl(200deg 100% 62%);
}
.barlow {
    font-family: 'Barlow', sans-serif;
}
.fraunces-700 {
    font-family: 'f', serif;
    font-weight: 700;
}
.fraunces-900 {
    font-family: 'fraunces', serif;
    font-weight: 900;
}
.bg-Soft-red {
    background-color: var(--Soft-red);
}
.bg-Yellow {
    background-color: var(--Yellow);
}
.bg-Dark-desaturated-cyan {
    background-color: var(--Dark-desaturated-cyan);
}
.bg-Dark-blue {
    background-color: var(--Dark-blue);
}
.bg-Dark-moderate-cyan {
    background-color: var(--Dark-moderate-cyan);
}
.bg-Very-dark-desaturated-blue {
    background-color: var(--Very-dark-desaturated-blue);
}
.text-Very-dark-grayish-blue {
    color: var(--Very-dark-grayish-blue);
}
.bg-Dark-grayish-blue {
    background-color: var(--Dark-grayish-blue);
}
.bg-Grayish-blue {
    background-color: var(--Grayish-blue);
}
.bg-White {
    background-color: var(--White);
}
.bg-Light-cyan {
    background-color: var(--Light-cyan);
}
.nav-item:not(:last-child) {
    margin-right: 1rem;
}
.nav-item:not(:last-child):hover a{
    color:#ffffff80 !important;
}
.nav-item:last-child:hover a {
    background-color: #ffffff50 !important;
    color: white !important;
}
.hero {
    min-height: 90vh;
    background-image: url(images/desktop/image-header.jpg);
    background-size: cover;
    background-position: bottom;
}
.hero div {
    margin-top: 2rem;
    font-size: 3rem;
    letter-spacing: 1rem;
}
.hero img {
    width: 40px;
    margin-top: 1rem;
}
.transform .col-md-6:last-child,
.stand-out .col-md-6:last-child {
    padding: 4rem 8rem !important;
}
.transform .col-md-6:last-child h1,
.stand-out .col-md-6:last-child h1 {
    font-size: 3rem;
    padding-right: 4rem;
    margin-bottom: 3rem;
}
.stand-out .col-md-6:last-child h1 {
    font-size: 2.5rem !important;
}
.transform .col-md-6:last-child span,
.stand-out .col-md-6:last-child span {
    font-size: 1.45rem;
    margin-bottom: 3rem;
}
.transform .col-md-6:last-child a,
.stand-out .col-md-6:last-child a {
    position: relative;
}
.transform .col-md-6:last-child a::after,
.stand-out .col-md-6:last-child a::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0.15rem;
    left: 0;
    box-shadow: var(--Yellow) 0px 0px 10px 3px;
}
.stand-out .col-md-6:last-child a::after {
    box-shadow: var(--Soft-red) 0px 0px 10px 3px !important;
}



/* Overriding BS5 */
.navbar-toggler {
    padding: 0 !important;
    border: none !important;
    border-radius: 0 !important;
}
.navbar-dark .navbar-toggler {
    border-color: transparent !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}

.row {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.row>* {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-top: 0 !important;
}
.img-fluid {
    width: 100%;
}
/* Media queries */
@media (max-width: calc(768px - 1px)) {
    #menu {
        width: 90vw;
        height: 60vh;;
        background-color: white;
        border-radius: 1px;
        position: absolute;
        top: 200%;
        color: #00000080 !important;
        justify-content: center;
        text-align: center;
    }
    #menu::before {
        content: "";
        position: absolute;
        top: -5%;
        right: 0%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top: 0;
        border-bottom: 40px solid white;
        transform: rotateZ(270deg);
    }
    #menu ul {
        margin-left: 0 !important;
        height: 75%;
        width: 75%;
        justify-content: space-evenly;
    }
    .nav-item:not(:last-child) {
        margin-right: 0 !important;
    }
    .nav-item:not(:last-child) a{
        color:#000000 !important;
    }
    .nav-item:not(:last-child):hover a {
        color: #00000080 !important;
    }
    .nav-item:last-child a {
        background-color: var(--Yellow) !important;
        color: #000 !important;
    }
    .nav-item:last-child:hover a {
        background-color: #fad40090 !important;
        color: #00000080 !important;
    }
    .hero {
        padding-top: 3rem !important;
    }
    .hero div {
        font-size: 1.5rem;
    }
    .hero img {
        margin-top: 6rem;
    }
    .transform .col-md-6:last-child,
    .stand-out .col-md-6:last-child {
        padding: 2rem 4rem !important;
        text-align: center;
        align-items: center !important;
    }
    .transform .col-md-6:last-child h1,
    .stand-out .col-md-6:last-child h1 {
        font-size: 2rem;
        padding-right: 1rem;
        margin-bottom: 1.5rem;
    }
    .transform .col-md-6:last-child span,
    .stand-out .col-md-6:last-child span {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 1024px) {
    .transform .col-md-6:last-child,
    .stand-out .col-md-6:last-child {
        padding: 3rem !important;
    }
    .transform .col-md-6:last-child h1,
    .stand-out .col-md-6:last-child h1 {
        font-size: 2rem;
        padding-right: 3rem;
        margin-bottom: 1rem;
    }
    .transform .col-md-6:last-child span,
    .stand-out .col-md-6:last-child span {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}
@media (max-width: 768px) {
    .transform .col-md-6:last-child,
    .stand-out .col-md-6:last-child {
        padding: 1rem 3rem !important;
    }
    .transform .col-md-6:last-child h1,
    .stand-out .col-md-6:last-child h1 {
        font-size: 2rem;
        padding-right: 0rem;
    }
}
@media (max-width: 375px) {
    .navbar-toggler {
        margin-right: -0.25rem !important;
    }
    .transform .col-md-6:last-child,
    .stand-out .col-md-6:last-child {
        padding: 2rem 2rem !important;
        text-align: center;
        align-items: center !important;
    }
    .transform .col-md-6:last-child h1,
    .stand-out .col-md-6:last-child h1 {
        font-size: 1.75rem;
        padding-right: 0rem;
        margin-bottom: 1.5rem;
    }
    .transform .col-md-6:last-child span,
    .stand-out .col-md-6:last-child span {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
}