@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
/* font-family: 'Barlow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
/* font-family: 'Fraunces', serif; */
:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%); /* (graphic design text) */
    --Dark-blue: hsl(198, 62%, 26%); /* (photography text) */
    --Dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer) */
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    /*  */
    --Light-cyan: hsl(200deg 100% 62%);
}
.bg-Soft-red {
    background-color: var(--Soft-red);
}
.bg-Yellow {
    background-color: var(--Yellow);
}
.bg-Dark-desaturated-cyan {
    background-color: var(--Dark-desaturated-cyan);
}
.bg-Dark-blue {
    background-color: var(--Dark-blue);
}
.bg-Dark-moderate-cyan {
    background-color: var(--Dark-moderate-cyan);
}
.bg-Very-dark-desaturated-blue {
    background-color: var(--Very-dark-desaturated-blue);
}
.bg-Very-dark-grayish-blue {
    background-color: var(--Very-dark-grayish-blue);
}
.bg-Dark-grayish-blue {
    background-color: var(--Dark-grayish-blue);
}
.bg-Grayish-blue {
    background-color: var(--Grayish-blue);
}
.bg-White {
    background-color: var(--White);
}
.bg-Light-cyan {
    background-color: var(--Light-cyan);
}